
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
<div style="text-align:center">
<br>
<h1>沈阳工业大学第⑨届ACM校赛</h1>
<img src="http://7xnp02.com1.z0.glb.clouddn.com/4978_meitu_2.jpg">
<h1>正赛前第⑨轮调试～即将投入使用！</h1>
</div>
<center>
<!-- <a style="color:red" href="http://acm.sut.edu.cn/404/doc/index.html">
屠龙宝刀，点击就送！
</a> 
<a>
←其实是比赛须知
</a>
-->
<h4>热身赛开始时间：2015-10-24 13:00:00&nbsp;&nbsp;&nbsp;热身赛结束时间：2015-10-24 16:00:00</h4>
<h4>比赛开始时间：2015-10-25 10:00:00&nbsp;&nbsp;&nbsp;比赛结束时间：2015-10-25 15:00:00</h4>
<h4>比赛地点：信息楼220、205机房</h4>
<h4>如有问题请联系管理员：QQ172569856 殷同学</h4>
<div >
©沈阳工业大学ACM实验室
</div>
	</center>
</body>
</html>