
		<nav class="navbar navbar-fixed-top navbar-inverse ">
			<div class="container">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<a class="navbar-brand" href="<?php echo site_url('oj_index/home/index');?>"><strong>沈阳工业大学在线判题系统</strong></a>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li ><a href="<?php echo site_url('oj_index/home/index');?>">题库<span class="sr-only">(current)</span></a></li>
						<li id="contest"><a href="<?php echo site_url('oj_index/home/contest_list');?>">比赛</a></li>
						<li id="status"><a href="<?php echo site_url('oj_index/home/status');?>">提交状态</a></li>
						<li><a href="<?php echo site_url('oj_index/home/rank');?>">排名</a></li>
						<li><a href="#">ACM集训队</a></li>
						<li><a href="#">SUT校赛</a></li>
					</ul>
				 	<?php if($username == false || $user_id == false): ?> 
					<form class="navbar-form navbar-right">
						<button type="button" class="btn btn-primary " data-toggle="modal"   data-target="#myModal01" id="signin">Sign in</button>
						<button type="button" class="btn btu-default" data-toggle="modal" data-target="#myModal02" id="register">Register</button>
					</form>
					<?php else:?>
						<form class="navbar-form navbar-right">
						<h5><a href="<?= site_url('oj_index/home/log_out');?>" style="text-decoration:none;"><span class="glyphicon glyphicon-off"></span> &nbsp;&nbsp;注销</a></h5>
						</form>
						<form class="navbar-form navbar-right">
						<h5><a href="<?php echo site_url().'/oj_index/login/user_info?username='.$username;?>" style="text-decoration:none;"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> &nbsp;&nbsp;<?= $username;?></a></h5>
						</form>
					<?php endif;?> 
					<?php require('login.html');?>
					<?php require('register.html');?>
					  
					</div><!-- /.navbar-collapse -->
					<script type="text/javascript">
						Array.prototype.in_array = function(e) {  
						for(i=0;i<this.length && this[i]!=e;i++);  
						return !(i==this.length); 
						}  
						$(function(){
							var arr_index=["submitpage","index","problem","search"];
							//alert(arr_index.in_array("c"));
							/*$("#target").click();*/
							var s = window.location.href;
							var a = s.split("/");
							var o = a[7].split("?");
							//var l = s.length;
							var str = s.substring(0,49);
							if(arr_index.in_array(o[0])){
							//console.log(str+a[7]);
							$("a[href='"+str+"index"+"']").parent().addClass("active");
						}
						var arr=["status","contest_list","rank"];
						if(arr.in_array(o[0])){
							$("a[href='"+str+o[0]+"']").parent().addClass("active");
						}
							//console.log($("a[href='"+window.location+"']"));
						});
					</script>
					</div><!-- /.container-fluid -->
				</nav>
				
			