<!-- Modal -->
<!--编译错误信息-->
<div class="modal fade" id="myModal_compileinfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" id = "login_close">
        <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel_compileinfo">编译信息</h4>
      </div>
        <div class="modal-body">
      <center>
      <div style="margin-top: 1%; ">
   <pre><span id="compileinfo"></span></pre>
      </div>
      </center>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" data-dismiss="modal">关闭</button>
      </div>
  </div>
</div>
</div>

<!--代码信息-->
<div class="modal fade" id="myModal_source" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" id = "login_close">
        <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel_source">代码信息</h4>
      </div>
        <div class="modal-body">

      <div style="margin-top: 1%; ">
   <pre><span id="source"></span></pre>
      </div>

      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" data-dismiss="modal">关闭</button>
      </div>
  </div>
</div>
</div>