<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="<?= base_url('index/images/SUT.ico');?>"/>  <!-- 网站图标-->
    <title>沈阳工业大学在线判题系统</title>
    <link href="<?= base_url('application/views/oj_index/css/bootstrap.min.css');?>" rel="stylesheet">
    <script src="<?= base_url('application/views/oj_index/js/jquery-1.9.1.min.js');?>"></script>
    <script src="<?= base_url('application/views/oj_index/js/bootstrap.min.js');?>"></script>
    <script src="<?= base_url('application/views/oj_index/js/validform.js');?>"></script>
    <script src="<?= base_url('application/views/oj_index/js/html5shiv.js');?>"></script>
   <!-- <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script> -->
  </head>
  <style type="text/css">
  .container_modal{
    margin-left:20%;
  }
  .label_reg{
    width:20%;
  }
  </style>
  <style type="text/css">
    body {
    font-family: 微软雅黑;
    background: #eee;
    background-image: url(http://localhost/nsut_oj/index/images/background.jpg);
    background-position: initial initial;
    background-repeat: initial initial;
    background-position: initial initial;
    background-repeat: initial initial;
    margin: 0px;
    padding: 0px;
  }
  .group{
    margin-top: 11%;
    left: 50%;
  }
  </style>
  <body>
<?php $this->load->view('oj_index/header.html');?>
<div class="container">
<div class="group">

<center>
<h2 style="color:blue"><?php echo $problem['title']?></h2>
<span style="color:red">时间限制:<?php echo $problem['time_limit']?>s&nbsp;&nbsp;&nbsp;&nbsp;内存限制:<?php echo $problem['memory_limit']?>MB<span>
</center>
<h4>题目描述</h4>
<div style="margin-top: 1%; ">
    <pre><?php echo $problem['description']?></pre>
</div>
<h4>输入</h4>
<div style="margin-top: 1%; ">
   <pre><?php echo $problem['input']?></pre>
</div>
<h4>输出</h4>
<div style="margin-top: 1%; ">
   <pre><div><?php echo $problem['output']?></div></pre>
</div>
<h4>样例输入</h4>
<div style="margin-top: 1%; ">
   <pre><div><?php echo $problem['sample_input']?></div></pre>
</div>
<h4>样例输出</h4>
<div style="margin-top: 1%; ">
   <pre><div><?php echo $problem['sample_output']?></div></pre>
</div>
<h4>提示</h4>
<div style="margin-top: 1%; ">
   <pre><div><?php echo $problem['hint']?></div></pre>
</div>
<center>
<a href="<?php echo site_url('oj_index/home/submitpage?pid='.$problem['problem_id']);?>"><img src="<?= base_url('application/views/contest/images/submit.jpg');?>"></a>
<center>
</div>
</div>

<input id = "hid_site" type="hidden" value = "<?= site_url();?>" /> 
<input id = "hid_base" type="hidden" value = "<?= base_url();?>" /> 
</body>
</html>