<!-- Modal -->
<div class="modal fade" id="myModal02" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">注册信息</h4>
      </div>
      <div class="modal-body">
        <div class="container_modal">
          <form class="form-horizontal">
            <div class="form-group">
              <label class="control-label label_reg" for="username">用户名</label>
              <input type="text" class="input-xlarge " id="username" placeholder="用户名"></div>
            <div class="form-group">
              <label class="control-label label_reg" for="Password1"  >
                密码</label>
              <input type="password" class="input-xlarge" id="Password1" placeholder="密码"></div>
            <div class="form-group">
              <label class="control-label label_reg" for="Password2">确认密码</label>
              <input type="password" class="input-xlarge" id="Password2" placeholder="确认密码"></div>
            <div class="form-group">
              <label class="control-label label_reg" for="Email">Email</label>
              <input type="email" class="input-xlarge" id="Email1" placeholder="输入你的邮箱"></div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">提交</button>
      </div>
    </div>
  </div>
</div>