<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="<?= base_url('index/images/SUT.ico');?>"/>  <!-- 网站图标-->
    <title>沈阳工业大学在线判题系统</title>
    <link href="<?= base_url('application/views/oj_index/css/bootstrap.min.css');?>" rel="stylesheet">
    <link href="<?= base_url('application/views/oj_index/css/sutoj.css');?>" rel="stylesheet">
    <script src="<?= base_url('application/views/oj_index/js/jquery-1.9.1.min.js');?>"></script>
    <script src="<?= base_url('application/views/oj_index/js/bootstrap.min.js');?>"></script>
    <script src="<?= base_url('application/views/oj_index/js/status_search.js');?>"></script>
    <script src="<?= base_url('application/views/oj_index/js/validform.js');?>"></script>
    <script src="<?= base_url('application/views/oj_index/js/status_info.js');?>"></script>
    <script src="<?= base_url('application/views/oj_index/js/html5shiv.js');?>"></script>
    <!-- <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script> -->
  </head>
  <style type="text/css">
  .container_modal{
    margin-left:20%;
  }
  .label_reg{
    width:20%;
  }
  </style>
  <style type="text/css">
    body {
    font-family: 微软雅黑;
    background: #eee;
    background-image: url(http://localhost/nsut_oj/index/images/background.jpg);
    background-position: initial initial;
    background-repeat: initial initial;
    background-position: initial initial;
    background-repeat: initial initial;
    margin: 0px;
    padding: 0px;
  }

  .control-group {
    display: inline;
    float: right;
  }
  .container-search{
              margin-top: 7%;
              margin-right: 100px;
              display: inline;
              float: right;
  }
  .table-group{
    margin-top: 11%;
  }
  .th_class {
    background-color:#222;
    color:#FFFFFF;
  }
  td,th{
    text-align:center;
  }
  </style>
  <body>
<?php $this->load->view('oj_index/header.html');?>
<?php $this->load->view('oj_index/info.html');?>

  <div class="container">
    <div class="container-search">
    <div class="control-group">
          <div class="controls" style="display:inline">

            <!-- Inline Radios -->
            <table>
              <th>
            <label class="radio inline">
              <input type="radio" value="1" checked="checked" name="group">
              Problem ID&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </label>
          </th>
          <th>
            <label class="radio inline">
              <input type="radio" value="2" name="group">
              User&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </label>
          </th>
          </div> 
          
           <div class="form-group" style="display:inline">
            <th>
          <input type="text" class="form-control"  placeholder="Search for..." id="search_terms">
            </th>
        <th>
          <a href="<?php echo site_url('/oj_index/home/status');?>" class="btn btn-default" type="button" id = "search_but">Go!</a>
        </th>
  </div>
</table>
        </div>
</div>
</div>
<div class="table-group">
<table class="table table-bordered table-hover " >
  <thead>
  <tr class="th_class">
  <th style="width:8%">Run.ID</th>
  <th style="width:10%">User</th>
  <th style="width:8%">Problem</th>
  <th style="width:16%">Result</th>
  <th style="width:6%">Memory</th>
  <th style="width:6%">Time</th>
  <th style="width:6%">Language</th>
  <th style="width:10%">Code Length</th>
  <th style="width:24%">Submit Time</th>
 </tr>
</thead>
<tbody>
  <?php foreach($result as $v): ?>
  <tr class="evenrow">
    <td id="solution_id"><?php echo $v['solution_id']?></td>
    <td><?php echo $v['username']?></td>
    <td><a href="<?php echo site_url('oj_index/home/problem'); ?>?pid=<?php echo $v['problem_id']?>"><?php echo $v['problem_id']?></a></td>
  <?php   if($v['username']==$this->session->userdata('username')&&$v['result']==11){ ?>
    <td><a class="compileinfo"><button class="<?php echo $judge_color[$v['result']]?>"  data-target='#myModal_compileinfo' data-toggle='modal' ><?php echo $judge_result[$v['result']]?></button></a></td>
    <?php }else{?>
    <td><button class="<?php echo $judge_color[$v['result']]?>"><?php echo $judge_result[$v['result']]?></button></td>
    <?php }?>
    <td><span style="color:red"><?php echo $v['memory']?></span></td>
    <td><span style="color:red"><?php echo $v['time']?></span></td>
  <?php   if($v['username']==$this->session->userdata('username')){ ?>
    <td><a href="#" class="source" data-target='#myModal_source' data-toggle='modal'><?php echo $v['language']? "C++":"C"?></a></td>
  <?php }else{?>
  <td><?php echo $v['language']? "C++":"C"?></td>
      <?php }?>
    <td><?php echo $v['code_length']?></td>
    <td><?php echo $v['in_date']?></td>
  </tr>
<?php endforeach ?>
</tbody>
</table>
</div>

<div id="center" class="center">
<?php if(empty($pid)&&empty($user)){ echo "[<a href=status?previous=".($pagination-2)."&pagination=".($pagination-1).">Top</a>]&nbsp;&nbsp;";
if (isset($previous)) 
        echo "[<a href=status?previous=".($previous-1)."&pagination=".($pagination-2).">Previous Page</a>]&nbsp;&nbsp;";
if($pre > $pagination-1 )
echo "[<a href=status?previous=".($pagination-1)."&pagination=".($pagination).">Next Page</a>]";
}?>
<?php if(!empty($pid)){ echo "[<a href=status?previous=".($pagination-2)."&pagination=".($pagination-1)."&pid=".$pid.">Top</a>]&nbsp;&nbsp;";
if (isset($previous)) 
        echo "[<a href=status?previous=".($previous-1)."&pagination=".($pagination-2)."&pid=".$pid.">Previous Page</a>]&nbsp;&nbsp;";
if($pre > $pagination-1 )
echo "[<a href=status?previous=".($pagination-1)."&pagination=".($pagination)."&pid=".$pid.">Next Page</a>]";

}?>
<?php if(!empty($user)){ echo "[<a href=status?previous=".($pagination-2)."&pagination=".($pagination-1)."&user=".$user.">Top</a>]&nbsp;&nbsp;";
if (isset($previous)) 
        echo "[<a href=status?previous=".($previous-1)."&pagination=".($pagination-2)."&user=".$user.">Previous Page</a>]&nbsp;&nbsp;";
if($pre > $pagination-1 )
echo "[<a href=status?previous=".($pagination-1)."&pagination=".($pagination)."&user=".$user.">Next Page</a>]";

}?>

</div>
</div>
<input id = "hid_site" type="hidden" value = "<?= site_url();?>" /> 
<input id = "hid_base" type="hidden" value = "<?= base_url();?>" /> 
  </body>
</html>