<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="<?= base_url('index/images/SUT.ico');?>"/>  <!-- 网站图标-->
    <title>沈阳工业大学在线判题系统</title>
    <link href="<?= base_url('application/views/oj_index/css/bootstrap.min.css');?>" rel="stylesheet">
    <script src="<?= base_url('application/views/oj_index/js/jquery-1.9.1.min.js');?>"></script>
    <script src="<?= base_url('application/views/oj_index/js/bootstrap.min.js');?>"></script>
    <script src="<?= base_url('application/views/oj_index/js/validform.js');?>"></script>
    <script src="<?= base_url('application/views/oj_index/js/html5shiv.js');?>"></script>
 <script language="Javascript" type="text/javascript" src="<?php echo base_url('edit_area/edit_area_full.js');?>"></script>
<script language="Javascript" type="text/javascript">

editAreaLoader.init({
          id: "source"            
          ,start_highlight: true 
          ,allow_resize: "both"
          ,allow_toggle: true
          ,word_wrap: true
          ,language: "en"
          ,syntax: "cpp"  
      ,font_size: "8"
          //,syntax_selection_allow: "basic,c,cpp,java,pas,perl,php,python,ruby"
      ,toolbar: "search, go_to_line, fullscreen, |, undo, redo, |, select_font,|, change_smooth_selection, highlight, reset_highlight, word_wrap, |, help"          
  });
</script>
   <!-- <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script> -->
  </head>
  <style type="text/css">
  .container_modal{
    margin-left:20%;
  }
  .label_reg{
    width:20%;
  }
    .group{
    margin-top: 8%;
  }
  </style>
  <style type="text/css">
  body {
    font-family: 微软雅黑;
    background: #eee;
    background-image: url(http://localhost/nsut_oj/index/images/background.jpg);
    background-position: initial initial;
    background-repeat: initial initial;
    background-position: initial initial;
    background-repeat: initial initial;
    margin: 0px;
    padding: 0px;
  }
  </style>
  <body>
<?php $this->load->view('oj_index/header.html');?>
<center>
<div class="group">
<form action="<?php echo site_url('oj_index/problem_submit/index');?>" method="post" onsubmit = "return check();">
  <div>
      <span style="color:red;font-size: 20px">Problem Id: </span><span style="font-size: 20px"><?= $pid;?></span></br>
    <span style="color:red;font-size: 20px">Language:   </span>
  <select id="language" name="language">
            <option value="0" >C</option>
            <option value="1" >C++</option>
</select>
  </div>
<input type='hidden' value='0' name="cid">
<input type='hidden' value='<?php echo $pid;?>' name="pid">
<textarea style="width:60%;" cols=80 rows=20 id="source" name="source"></textarea>

<input type="submit" class="btn btn-primary" value="Submit">
<input type="reset" class="btn btn-default" value="Reset">

  </form>
  <!-- <button id="test">button</button>  -->
</div>
</center>
<input id = "hid_site" type="hidden" value = "<?= site_url();?>" /> 
<input id = "hid_base" type="hidden" value = "<?= base_url();?>" />
<?php require('foot.html');?>
</body>
<script language="Javascript" type="text/javascript" src="<?php echo base_url('application/views/contest/js/jquery.base64.js');?>"></script> 
<script type="text/javascript">
 /*$(function(){
  //console.log("jfdffffffffff");
  //console.log($.base64.btoa("jddddjdj"));
  $("form").submit(function(event) {
    var val = document.getElementById("source").innerHTML;
    alert($.base64.btoa(val));
  });
});*/
function check() {
  var val = $("#source").val();
  //alert(val);
  console.log(val);
 $("#source").val($.base64.btoa(val));
  //alert($("#source").val());
  console.log(val);
  return true;
}
  </script>
</html>