<div class="modal fade bs-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">添加新成员</h4>
      </div>
      <div class="modal-body" style="height:200px;">
      <div class="control-group">
        <span class = "acmer_add" >输入用户名：&nbsp;&nbsp;&nbsp;&nbsp;</span>
          <div class="col-lg-6">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search for..." id = "user_search" >
              <span class="input-group-btn">
                <button class="btn btn-default" type="button" id = "user_search_but" >Go!</button>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>