<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>比赛提问回复</title>
	<link rel="stylesheet" type="text/css" href="<?= base_url('application/views/admin/lib/bootstrap/css/bootstrap.min.css');?>">
  
    <link rel="stylesheet" href="<?= base_url('application/views/admin/lib/font-awesome/css/font-awesome.css');?>">
	<style type="text/css">
    body {
        background: #eee;
        /* background-image: url(http://subtlepatterns.com/patterns/furley_bg.png); */
        background-image: url(/admin/images/furley_bg.png);
        background-position: initial initial;
        background-repeat: initial initial;
        background-position: initial initial;
        background-repeat: initial initial;
        margin: 0px;
        padding: 0px;
    }
    .container {
        margin-top: 3%;
    }
  </style>
  </head>
  <body>
      <div class="container">
        <ul class="nav nav-tabs" >
            <li role="presentation" class="active"><a href="#" id = "no_ans_que">未回复(<?= $no_ans_que;?>)</a></li>
            <li role="presentation"><a href="#" id = "ans_que_sum">已回复(<?= $ans_que_sum;?>)</a></li>
            <li style="float:right;"> <a href=""><strong>返回 </strong></a></li>
        </ul>
          <div class="well">
                
          </div>
      </div>
<script src="<?= base_url('application/views/admin/lib/jquery-1.8.1.min.js');?>" type="text/javascript"></script>
<script src="<?= base_url('application/views/admin/lib/bootstrap/js/bootstrap.min.js');?>" type="text/javascript"></script>
<script src="<?= base_url('application/views/admin/js/ans_que.js');?>" type="text/javascript"></script>
  </body>
  </html>