<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
   <div class="modal-dialog" role="document">
     <div class="modal-content">
       <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
         <h4 class="modal-title" id="myModalLabel">新增题目气球</h4>
       </div>
       <form class="form-inline" action="<?= site_url('admin/balloon/balloon_add');?>" method="post">
       <div class="modal-body">
     
          <div class="form-group">
            <label for="num">题号</label>
            <input type="text" class="form-control" id="num" name = "num" placeholder="请输入题号：如 A" required="required">
          </div>
          <div class="form-group">
            <label for="color">气球颜色</label>
            <input type="text" class="form-control" id="color" name = "color" placeholder="请输入颜色：如：红" required="required">
          </div>
        
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
         <button type="submit" class="btn btn-primary">Save</button>
       </div>
       </form>
     </div>
   </div>
 </div>