<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>题目列表</title>
	<link rel="stylesheet" type="text/css" href="<?= base_url('application/views/admin/lib/bootstrap/css/bootstrap.min.css');?>">
    <link rel="stylesheet" href="<?= base_url('application/views/admin/lib/font-awesome/css/font-awesome.css');?>">
	<style type="text/css">
    body {
    background: #eee;
    background-image: url(http://subtlepatterns.com/patterns/furley_bg.png);
    background-position: initial initial;
    background-repeat: initial initial;
    background-position: initial initial;
    background-repeat: initial initial;
    margin: 0px;
    padding: 0px;
  }
	.container {
		margin-top: 3%;
	}
	.th_id {
		width: 20%;
	}
	.th_title {
		width: 45%;
	}
	.th_class {
		width: 25%;
	}
	.th_edit {
		width: 10%;
	}
	.control-group {
		display: inline;
		float: right;
	}

  
	</style>
</head>
<body>
<div class="container">
<div class="btn-toolbar" style="display:inline">
    <button type="button" id="problem_add_but" class="btn btn-primary" autocomplete="off"><i class="icon-plus"></i>添加题目</button>
  <div class="btn-group">
  </div>
</div>
<div class="control-group">
          <div class="controls" style="display:inline">

            <!-- Inline Radios -->
            <label class="radio inline">
              <input type="radio" value="1" checked="checked" name="group">
              题号&nbsp;&nbsp;&nbsp;&nbsp;
            </label>
            <label class="radio inline">
              <input type="radio" value="2" name="group">
              标题&nbsp;&nbsp;&nbsp;&nbsp;
            </label>
            <label class="radio inline">
              <input type="radio" value="3" name="group">
              类别&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </label>
          </div> 
           <div class="form-group" style="display:inline">
	      	<input type="text" class="form-control"  placeholder="Search for..." style="margin-top:2%;">
	        <button class="btn btn-default" type="button" id = "search_but">Go!</button>
	    	</div>
</div>
<br>
<br>
<hr>
<div class="well">
  	<table class="table table-striped">
      <thead>
        <tr>
          <th class="th_id">题号</th>
          <th class="th_title">标题</th>
          <th class="th_class">类别</th>
          <th class="th_edit">操作</th>
        </tr>
      </thead>
      <tbody>
      <?php foreach($problem as $temp):?>
        <tr>
          <td><?php echo $temp['problem_id'];?></td>
          <td><?php echo $temp['title'];?></td>
          <td><?php echo $temp['class_name'];?></td>
          <td>
              <a href="" ><i class="icon-pencil"></i></a>
              <a href="#myModal" role="button" data-toggle="modal" id = "<?php echo $temp['problem_id'];?>"><i class="icon-remove"></i></a>
          </td>
        </tr>
      <?php endforeach; ?>
       
      </tbody>
    </table>
    <div>
    <div class="pagination" style="text-align:right">
    <?php echo $links;?>
  </div>
    </div>
</div>
</div>
<?php require('problem_del.html');?>
<script src="<?= base_url('application/views/admin/lib/jquery-1.8.1.min.js');?>" type="text/javascript"></script>
<script src="<?= base_url('application/views/admin/lib/bootstrap/js/bootstrap.min.js');?>" type="text/javascript"></script>

<script src="<?= base_url('application/views/admin/js/problem_act.js');?>" type="text/javascript"></script>
<script type="text/javascript">
$(document).ready(function() {
  //相应题目添加按钮

  alert("1111");
  $("#problem_add_but").click(function() {
        window.location.href = "<?php echo site_url('admin/problem/problem_add');?>";
    });
});
</script>

</body>
</html>