<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>修改密码</title>
    <link href="<?= base_url('application/views/oj_index/css/bootstrap.min.css');?>" rel="stylesheet">
  
    <link rel="stylesheet" href="<?= base_url('application/views/admin/lib/font-awesome/css/font-awesome.css');?>">
    <link rel="stylesheet" href="<?= base_url('application/views/admin/css/reset_problem.css');?>">
    <style type="text/css">
</style>
</head>
<body>
<div class="container">
<ul class="nav nav-tabs" >
            <li role="presentation" class="active"><a href="javascript:;" id = "reset_user">修改用户密码</a></li>
            <li role="presentation"  ><a href="javascript:;" id = "reset_team">修改比赛队伍密码</a></li>
        </ul>
<div class="well">
<div class="pro_con_div" id = "pro_con_div">
    <form class="form-horizontal" action = "<?= site_url('admin/editPwd/reset_user');?>" method = "post">
  <div class="form-group">
    <label for="username">用户名</label>
    <input type="text" class="form-control" id="username" name="username" placeholder="请输入用户名">
  </div>
  <div class="form-group">
    <label for="user_pwd">新密码</label>
       <input type="password" class="form-control" id="user_pwd" name="user_pwd" placeholder="请输入用户新密码">
</div>
  <br>
  <div class="form-group">
    <div class="sub_rjudge">
      <button type="submit" class="btn btn-default but_rjudge">确认修改</button>
    </div>
  </div>
</form>
</div>
<div class="pro_div" id = "pro_div">
<form class="form-horizontal" action = "<?= site_url('admin/editPwd/reset_team');?>" method = "post">
  <div class="form-group">
    <label for="team_id">队伍号</label>
    <input type="text" class="form-control" id="team_id" name = "team_id" placeholder="请输入队伍号">
  </div>
    <div class="form-group">
      <label for="team_pwd">新密码</label>
         <input type="password" class="form-control" id="team_pwd" name="team_pwd" placeholder="请输入队伍新密码">
  </div>
  <br>
  <div class="form-group">
    <div class="sub_rjudge">
      <button type="submit" class="btn btn-default but_rjudge">确认修改</button>
    </div>
  </div>
</form>
</div>

<div></div>
<div></div>
</div>
    
</div>
<input type="hidden" id = "hide_site" value="<?= site_url();?>">
<script src="<?= base_url('application/views/oj_index/js/jquery-1.9.1.min.js');?>"></script>
<script src="<?= base_url('application/views/oj_index/js/bootstrap.min.js');?>"></script>
<script src="<?= base_url('application/views/admin/js/reset_pwd.js');?>"></script>
</body>
</html>