<!DOCTYPE html>
<html lang="en" class="no-js">
    <head>
        <meta charset="utf-8">
        <title>报名参赛</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <!-- CSS -->
        <link rel="stylesheet" href="<?php echo base_url('application/views/contest/assets/css/reset.css');?>">
        <link rel="stylesheet" href="<?php echo base_url('application/views/contest/assets/css/supersized.css');?>">
        <link rel="stylesheet" href="<?php echo base_url('application/views/contest/assets/css/style.css');?>">
        
        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        
<style>
  br { clear: both; }
      .cntSeparator {
        font-size: 54px;
        margin: 10px 7px;
        color: #000;
      }
      .desc { margin: 7px 3px; }
      .desc div {
        float: left;
        font-family: Arial;
        width: 70px;
        margin-right: 70px;
        font-size: 25px;
        font-weight: bold;
        color: #000;
      }
.button1{
    background: #00CD00;
    border-color:#00EE00;
}
.button2{
    background: #00CD00;
    border-color:#00EE00;
    margin-top: 25px;
}
.button3{
    background: #00CD00;
    border-color:#00EE00;
    margin-top: 5%;
}
.button4{
    background: #00EE00;
    border-color:#00EE00;
    margin-top:5%;
    disabled: false;
}
.button5{
    background: #00CD00;
    border-color:#00EE00;
    margin-top: 5%;
}
a{
text-decoration:none;
color:#fff;
}
.captcha_style{
    margin-top: 20px;
    margin-left:0;
}
.error_info{
    width: 800px;
    height: 17px;
    margin: 6px;
    float: center;
}
.error_info_enroll{
    width: 300px;
    height: 10px;
    margin: 5px;
    margin-right:0px;
    float: left;
}
.contest_info{
    width: 600px;
    height: 125px;
    margin-top: 25px;
}
.radio_class{
    width: 15px;
    height: 15px;

}
.radio_div{
    width:320px;
    height: 25px;
    margin-left: 100px;
    margin-bottom: 10px;
}
.page{
    width:800px;
    height:450px;
    margin-top:5%;
}
.box{
    margin-top:350px;
    color:red;
}
</style>
    </head>
    <body>
        
  
       <?php if(isset($school_info)) :?>
    <center>
        <div class="page">
            <div id="enroll_list">
                <div style="color:black;font-size:60px;"><?php echo isset($school_info[0]['title']) ? $school_info[0]['title'] : '暂无校赛'; ?></div>
                <div style="color:black;margin-top:3%;"><span>报名开始时间：<span style="color:red" id="pre_start_time"><?php echo isset($school_info[0]['pre_start_time']) ? $school_info[0]['pre_start_time'] : '0000-00-00 00:00:00'; ?></span></span><span style="color:black;margin-left:8%">报名结束时间：<span style="color:red" id="pre_end_time"><?php echo isset($school_info[0]['pre_end_time']) ? $school_info[0]['pre_end_time'] :'0000-00-00 00:00:00';?></span></span></div>
                <div style="color:black;margin-top:3%;"><span>比赛开始时间：<span style="color:red"><?php echo isset($school_info[0]['start_time']) ? $school_info[0]['start_time'] : '0000-00-00 00:00:00'; ?></span></span><span style="color:black;margin-left:8%">比赛结束时间：<span style="color:red"><?php echo isset($school_info[0]['end_time']) ? $school_info[0]['end_time'] :'0000-00-00 00:00:00';?></span></span></div>
                 <?php if((isset($school_info[0]['start_time']) ? $school_info[0]['start_time'] : '0' ) > Now() ):?>
                <div style="color:yellow;font-size:40px;margin-top:5%;"><h2>距离比赛开始还有:</h2></div>    
                <div id="counter" style="text-align: center;margin-left:18%;margin-top:8%;"></div>
               <div class="desc" style="text-align: center;margin-left:20%;">
                <div>天</div>
                <div>小时</div>
                <div>分钟</div>
                <div>秒</div>
              </div>
                <?php endif;?>
                <?php if((isset($school_info[0]['start_time']) ? $school_info[0]['start_time'] : '0' )< Now() && (isset($school_info[0]['end_time']) ? $school_info[0]['end_time'] : '0' ) > Now() ): ?>               
                <div style="color:red;font-size:40px;margin-top:5%;margin-bottom:5%;"><h2>比赛正在进行中......</h2></div>
                <?php if(!isset($school_contest)) {?>

                    <form action="" method="post">
                        <input type="text" name="username" class="username" placeholder="Username"> 
                        <div class="error_info"><span style="color:red;">*此处填写 比赛注册时填写的用户名</span></div>
                        <input type="password" name="password" class="password" placeholder="Password">
                        <div class="error_info"><span style="color:red;">*此处填写 比赛开始前下发的密码条</span></div>
                       <?php if(isset($_SESSION ['fs'])&&$_SESSION ['fs']>2):?>
                        <div class ="log_captcha_style" >
                            <input type="text" class="input-xlarge " id="captcha_r" name="captcha" placeholder="验证码"  style="width:60px;">
                            <img src="<?php echo site_url('oj_index/login/code') ?>" alt="" id="captcha_img_r" onclick= this.src="<?php echo site_url('oj_index/login/code').'/';?>"+Math.random() style="cursor: pointer;" title="看不清？点击更换另一个验证码。" />
                        <span style="cursor: pointer;color:red;" id="captcha_span_r">点击刷新图片</span>
                        <div class="error_info"><span id="captcha_info" style="color:red;"></span></div>
                          </div>
                       <?php endif;?>
                       <button class="button1" type="submit" id="enter">点击登录</button>
                    </form>              
                <?php }else{?>
                 <button class="button1" type="submit" id="enter_contest">点击进入比赛</button>
                <?php } ?>
                                 
               <?php endif;?>
               <?php if((isset($school_info[0]['start_time']) ? $school_info[0]['start_time'] : '0' ) > Now()):?>
               <?php if((!$check_enroll_old || !$check_enroll_new) ):?>
               <button class="button4" >您已报名</button>
               <?php endif;?>
               <?php if($check_enroll_old && $check_enroll_new ) :?>
              <button class="button3" type="submit" id="enroll" ><a  target="_self">报名参赛</a></button>
              <?php endif;?>
              <?php endif;?>             
              <?php if((isset($school_info[0]['end_time']) ? $school_info[0]['end_time'] : '0' ) < Now()):?>
              <div style="color:red;font-size:40px;margin-top:5%;"><h2>比赛已结束</h2></div> 
              <?php if(!isset($school_contest)) {?>
                    <form action="" method="post">
                        <input type="text" name="username" class="username" placeholder="Username"> 
                        <div class="error_info"><span style="color:red;">*此处填写 比赛注册时填写的用户名</span></div>
                        <input type="password" name="password" class="password" placeholder="Password">
                        <div class="error_info"><span style="color:red;">*此处填写 比赛开始前下发的密码条</span></div>
                       <?php if(isset($_SESSION ['fs'])&&$_SESSION ['fs']>2):?>
                        <div class ="log_captcha_style" >
                            <input type="text" class="input-xlarge " id="captcha_r" name="captcha" placeholder="验证码"  style="width:60px;">
                            <img src="<?php echo site_url('oj_index/login/code') ?>" alt="" id="captcha_img_r" onclick= this.src="<?php echo site_url('oj_index/login/code').'/';?>"+Math.random() style="cursor: pointer;" title="看不清？点击更换另一个验证码。" />
                        <span style="cursor: pointer;color:red;" id="captcha_span_r">点击刷新图片</span>
                        <div class="error_info"><span id="captcha_info" style="color:red;"></span></div>
                          </div>
                       <?php endif;?>
                       <button class="button1" type="submit" id="enter">点击登录</button>
                    </form>              
                <?php }else{?>
              <button class="button5" type="submit" id="look_contest" >查看比赛结果</button>
              <?php } ?>
              <?php endif;?>
              <div style="margin-top: 25px"><button id="view_teams"><a target="_blank" style="color:red;">查看参赛队伍</a></button></div>
              <?php if((!$check_enroll_old || !$check_enroll_new) &&(isset($school_info[0]['start_time']) ? $school_info[0]['start_time'] : '0' ) > Now()) :?>
              <button class="button2" type="submit" id="updata_info" >修改参赛信息</button>
              <?php endif;?>      
            </div>
        </div>       
        <?php else:?>
        <div class="box"><h1>暂无校赛</h1></div>
        <?php endif;?>
            </center>

        <!-- Javascript -->
        <script src="<?php echo base_url('application/views/contest/assets/js/jquery-1.8.2.min.js');?>"></script>
        <script src="<?php echo base_url('application/views/contest/assets/js/supersized.3.2.7.min.js');?>"></script>
        <script src="<?php echo base_url('application/views/contest/assets/js/supersized-init.js');?>"></script>
        <script src="<?php echo base_url('application/views/contest/assets/js/scripts.js');?>"></script>
        <input id = "hid_site" type="hidden" value = "<?= site_url();?>" />
        <input id = "hid_base" type="hidden" value = "<?= base_url();?>" />
        <input id = "start_time" type="hidden" value = "<?php echo isset($school_info[0]['start_time']) ? $school_info[0]['start_time'] : '0'; ?>" />
        <script src="<?php echo base_url('application/views/contest/js/jquery.min.js'); ?>" type="text/javascript" charset="utf-8"></script>
        <script src="<?php echo base_url('application/views/contest/js/jquery.countdown.js'); ?>" type="text/javascript" charset="utf-8"></script>
        <script type="text/javascript">
      $(function(){
        var hid_base = $("#hid_base").val();
        var start_time = $("#start_time").val();
        //console.log(start_time);
        //var time = start_time.split(" ");
        var time = get_unix_time(start_time);
        var timestamp = (new Date()).valueOf();
        timestamp = timestamp.toString().substr(0, 10);
        var time_c =time - timestamp;
        var seconds = time_c % 60;
        var minutes = (parseInt(time_c / 60)) % 60;
        var hours = (parseInt(time_c / 3600)) % 24;
        var days = parseInt(time_c / 86400);
        if(seconds < 10) {
            seconds = "0" + seconds;
        }
        if(minutes < 10) {
            minutes = "0" + minutes;
        }
        if(hours < 10) {
            hours = "0" + hours;
        }
        if(days < 10) {
            days = "0" + days;
        }
        /*console.log(seconds);
        console.log(minutes);
        console.log(hours);
        console.log(days);
        console.log(time_c);*/
        $('#counter').countdown({
          image: hid_base + 'application/views/contest/images/digits.png',
          startTime: days+':'+hours+': '+ minutes + ':'+ seconds,
            timerEnd: function(){  location.reload(); }
        });

      });
      function get_unix_time(dateStr)
    {
        var newstr = dateStr.replace(/-/g,'/'); 
        var date =  new Date(newstr); 
        var time_str = date.getTime().toString();
        return time_str.substr(0, 10);
    }

    </script>
    </body>
</html>

